
@media screen and (min-width: 280px) {
    body{
    background-color: rgba(40, 130, 134, 0.1);
    background-size: 100%;
    background-position: 40% 70%;
    background-repeat: no-repeat;
    border-bottom: 10px;
    padding : 2px;
    font-weight: 700;
    
    }
    .card-class{
        height: 790px !important ; 
        width:100% !important;
    }
    img.dice{
        width:25%;
        height: 25%;
    }
    
    img.vs{
        width:78%;
        height:78%;
    }
    
}

@media screen and (min-width: 340px) {
    body{
    background-color: rgba(40, 130, 134, 0.1);
    background-size: 100%;
    background-position: 40% 70%;
    background-repeat: no-repeat;
    border-bottom: 10px;
    padding : 2px;
    font-weight: 700;
    }
    .card-class{
        height: 795px !important ; 
        width:100% !important;
    }
    img.dice{
        width:25%;
        height: 25%;
    }
    
    img.vs{
        width:78%;
        height:78%;
    }
    
}

@media screen and (min-width: 768px) {
    body {
        background-color: rgba(40, 130, 134, 0.1);
        background-size: 420%;
        background-position: 40% 70%;
        background-repeat: no-repeat;
        border-bottom: 10px;
        padding: 2px;
        font-weight: 700;
        background-image: url("images/bgdice-fire.jpg");
        opacity: 0.9;}
        .card-class{
            height: 1020px !important ; 
            width:100% !important;
        } 
        img.dice{
            width:25%;
            height: 25%;
        }
        
        img.vs{
            width:76%;
            height:76%;
        }
    }

@media screen and (min-width: 1024px) {
    body {
        background-color: rgba(40, 130, 134, 0.1);
        background-size: 100%;
        background-position: 40% 70%;
        background-repeat: no-repeat;
        border-bottom: 10px;
        padding: 2px;
        font-weight: 700;
        background-image: url("images/bgdice-fire.jpg");
        opacity: 0.9;}
        .card-class{
            height: 700px !important ; 
            width:100% !important;
        }
        img.dice{
            width:25%;
            height: 25%;
        }
        
        img.vs{
            width:85%;
            height:85%;
        }
    }
@media screen and (min-width: 1900px) {
body {
    background-color: rgba(40, 130, 134, 0.1);
    background-size: 100%;
    background-position: 40% 70%;
    background-repeat: no-repeat;
    border-bottom: 10px;
    padding: 2px;
    font-weight: 700;
    background-image: url("images/bgdice-fire.jpg");
    opacity: 0.9;}
    .card-class{
        height: 750px !important ; 
        width:100% !important;
    } 
    img.dice{
        width:22%;
        height:22%;
    }
    
    img.vs{
        width:79%;
        height:79%;
    }
}
* {
    font-size: 28px;
    font-family: 'Lato', sans-serif;
}
    
.btn-color {
    font-family:'Lato', sans-serif;
    font-size:xx-large;
    text-shadow: 1px 1px 1px black !important;
    position: relative;
    background: rgb(36,0,0);
    background: linear-gradient(74deg, rgba(36,0,0,1) 0%, rgba(52,17,10,1) 8%, rgba(0,212,255,1) 100%);
    padding: 0.3rem 1rem;
    border-radius: 5px;
    border: 2px solid #188d8df3 !important;
    background-color: inherit;
    box-shadow: none;
    overflow: hidden;
    -webkit-border-radius: 5px;
    height: 65px;
    color:aqua;
}
.btn-color:hover {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(109,121,9,1) 8%, rgba(0,212,255,1) 100%);
    color: white !important;
    padding: auto;
    margin-top:2%;
}
.perso_shadow{
    text-shadow: 1px 1px 1px rgb(0, 0, 0) !important;
}
.player-score{
    color:aqua;
}

.score{
    color:greenyellow;
}

.current-score{
    color:greenyellow;
}

.play{
    color:rgb(224, 93, 16);
}
.global-score{
   color:aqua;
}


.active{
    background-color: aqua ;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 2px solid gray;
    padding: 5px;
}

div.card.card-light{
padding: 5px;
}

p{
    font-size: 0.8em !important;
}